* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    background: rgb(104, 231, 206);
    background: linear-gradient(180deg, rgba(104, 231, 206, 1) 0%, rgba(104, 231, 206, 1) 0%, rgba(74, 127, 231, 1) 80%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* white main block */
.main {
    width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 11px 25px 1px rgba(0, 0, 0, 0.51);
}



/* main block title Todo app */
.main__title{
    margin-bottom: 30px;
}

/************* todo add block *************/

.todo-add-block{
    display: flex;
    margin-bottom: 30px;
}

/************* todo block *************/

.todo-block{
    /*border: 1px solid red;*/
    margin-bottom: 40px;
}
.todo{
    display: flex;
    align-items: center;
    height: max-content;

    margin-bottom: 10px;
    /*border: 1px solid green;*/
}
.todo__text{
    flex:1;
    /*border: 1px solid blue;*/
    padding: 10px;
    font-size: 20px;
}


/************* todo footer *************/

.todo-footer-block{
    display: flex;
    align-items: center;
}
.todo-pending{
    flex: 1;
    font-size: 18px;
}

